/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}
body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
}
header {
  text-align: center;
  color: hsl(234, 12%, 34%);
}
.light-header {
  font-weight: 200;
  font-size: 2.25rem;
}
.bold-header {
  font-weight: 600;
  font-size: 2.25rem;
  padding-bottom: 1rem;
}
.description {
  color: hsl(229, 6%, 66%);
}
.outer-container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 1.5rem;
  margin-top: 3rem;
}
p {
  color: hsl(229, 6%, 66%);
}
h2 {
  padding-bottom: 0.5rem;
}
.card {
  box-shadow: 0 5px 20px -5px hsla(213, 47%, 67%, 50%);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  max-width: 25rem;
  flex: 1;
}
.first-card {
  border-top: 4px solid hsl(180, 62%, 55%);
}
.second-card {
  border-top: 4px solid hsl(0, 78%, 62%);
}
.third-card {
  border-top: 4px solid hsl(34, 97%, 64%);
}
.fourth-card {
  border-top: 4px solid hsl(212, 86%, 64%);
}
img {
  width: 3.75rem;
  align-self: flex-end;
  padding-top: 4rem;
}
@media screen and (min-width: 800px) {
  body {
    margin: 4rem;
  }
  header {
    max-width: 40rem;
  }
  .outer-container {
    display: grid;
    grid-template-areas:
      ". two ."
      "one two four"
      "one three four"
      ". three .";
  }
  .first-card {
    grid-area: one;
  }
  .second-card {
    grid-area: two;
  }
  .third-card {
    grid-area: three;
  }
  .fourth-card {
    grid-area: four;
  }
}
